// Build tools setting // 
/.gradle
/.mvn

// Project and classpath //
/.project
/.settings
/settings.gradle
/.classpath

// Binary etc. // 
/build
/bin

// Data etc. //
/data

// Kudu script - important to ignore. have credentials there//
/kudu.sh

// Environment Variables
**/environmentVariables.java
**/dotEnvCheck.java
.env